
body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.userprofilemain {
  position: fixed;
  padding-left: -100px;
  height: 100px;
  margin-top: 100px;
}

.card {
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: rgb(255, 215, 215);
  position: relative;
  height: 500px;
}

.upper {
  height: 100px;
}

.upper img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user {
  position: relative;
}

.profile img {
  height: 80px;
  width: 80px;
  margin-top: 2px;
}

.profile {
  position: absolute;
  top: -50px;
  left: 38%;
  height: 0px;
  width: 90px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.sidecont {
  position: fixed;
  left: 50px;
  top: 40px
}

.profile-gallery {
  position: fixed;
  left: 500px;
  top: 80px;
}



.bg-color {
  background-color: #f4d5d5;
  /* Replace with your desired background color */
}
